@using Microsoft.AspNetCore.Identity
@using FantasyWealth.Areas.Identity.Data
@inject SignInManager<FantasyWealthUser> SignInManager
@inject UserManager<FantasyWealthUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName! (<span id="lblCashBalanceAmount" class="font-weight-bold text-warning">$@UserManager.GetUserAsync(User).Result.CashBalanceAmount</span>)</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
