@model FantasyWealth.Models.WallViewModel


<div class="card">
    <img src=" @Html.DisplayFor(model => model.logo)" width="100" height="80">
    <div class="container">
        <h4><b> @Html.DisplayFor(model => model.companyName)</b></h4>
        <h4><b> @Html.DisplayFor(model => model.CEO)</b></h4>
        <h4><b> @Html.DisplayFor(model => model.website)</b></h4>         
        <p>Architect & Engineer</p>
    </div>
</div>