@*@using System;
    @if ((string)@ViewData["marketCap"] != "")
    {
          <h5 class="text-warning"> MarketCap :<strong class="text-danger"> $ @ViewData["marketCap"]</strong></h5>}*@
@using System;
@model FantasyWealth.Models.WallViewModel
@*@foreach (var c in Model.Negative_Strike)
{
    <h5 class="text-warning"> <strong class="text-danger">@c.CompanyName , @c.Symbol</strong></h5>
    
  }*@
    